* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Fira Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #df554a; }

header {
  background: url(../pictures/cover4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header nav {
    width: 100%;
    display: flex;
    justify-content: center; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin-top: 3vh;
      margin-left: 25vh;
      transform: rotate(4deg);
      color: #080c07; }
    header nav li {
      margin-left: 1.8vw; }
      header nav li a {
        font-size: 1.9vw;
        color: black;
        font-weight: bold; }
      header nav li a:hover {
        color: #f4f4f4; }
    header nav #bars {
      margin-top: 30px;
      margin-right: -88vw;
      transform: rotate(4deg);
      display: none; }
      header nav #bars a {
        margin-right: 20px;
        font-size: 35px;
        color: #080c07; }
      header nav #bars a:hover {
        color: #f4f4f4; }
      header nav #bars #navbarmin {
        transform: rotate(-4deg);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        display: none; }
        header nav #bars #navbarmin ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          width: 120px;
          margin-right: -20px;
          margin-top: 40px; }
          header nav #bars #navbarmin ul li a {
            text-decoration: none;
            font-size: 15px;
            text-wrap: normal; }
      header nav #bars #navbarmin:target {
        display: block; }
  header #logo {
    margin-top: 2px;
    margin-left: -26vh;
    transform: rotate(4deg);
    position: relative;
    animation-name: animacija2;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
  header #title {
    width: 27%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(6.5deg);
    font-size: 1.5vw; }
    header #title h1 {
      margin-bottom: 3px;
      position: relative;
      animation-name: animacija;
      animation-duration: 3s;
      animation-fill-mode: forwards; }
    header #title h2 {
      position: relative;
      animation-name: animacija1;
      animation-duration: 3s;
      animation-fill-mode: forwards; }
  header #arrow {
    width: 100%; }
    header #arrow a {
      font-size: 30px;
      position: fixed;
      right: 8px;
      top: 93%;
      z-index: 1; }

@keyframes animacija {
  from {
    top: 0px;
    left: -500px; }
  to {
    top: 0px;
    left: 0px; } }
@keyframes animacija1 {
  from {
    top: 0px;
    right: -500px; }
  to {
    top: 0px;
    right: 0px; } }
@keyframes animacija2 {
  from {
    top: -500px;
    left: 0px; }
  to {
    top: 0px;
    left: 0px; } }
.information {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .information .title1 {
    font-size: 5vh;
    margin-top: 4%; }
  .information .content {
    width: 80%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    font-size: 5vh; }

#about .text {
  width: 50%;
  font-size: 2vw;
  color: #f4f4f4; }
#about .picture {
  width: 30%; }
  #about .picture img {
    border-radius: 8%;
    width: 100%; }

#portfolio .content .text {
  width: 100%; }
#portfolio .content .skils {
  margin-bottom: 5vh;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f4f4f4; }
  #portfolio .content .skils p {
    margin: 0px 10px 0px 10px; }
  #portfolio .content .skils p:last-child {
    color: #df554a; }
#portfolio .content #html {
  width: 80%;
  background: #080c07; }
#portfolio .content #css {
  width: 75%;
  background: #080c07; }
#portfolio .content #ps {
  width: 60%;
  background: #080c07; }
#portfolio .content #drawing {
  width: 90%;
  background: #080c07; }

#whatido .content {
  flex-direction: column;
  color: #f4f4f4;
  font-size: 18px; }
  #whatido .content .works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px; }
    #whatido .content .works .work {
      width: 30%;
      text-align: center;
      filter: grayscale(100%);
      word-wrap: break-word; }
      #whatido .content .works .work img {
        width: 100%; }
    #whatido .content .works .work:hover {
      filter: none; }
  #whatido .content #worksend {
    align-items: flex-end; }
#whatido .works__lightboxes .work__lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center; }
  #whatido .works__lightboxes .work__lightbox .lightbox__content {
    background: #080c07;
    width: 60%;
    padding: 15px;
    position: relative;
    font-size: 25px;
    text-align: center; }
    #whatido .works__lightboxes .work__lightbox .lightbox__content img {
      width: 100%; }
    #whatido .works__lightboxes .work__lightbox .lightbox__content .close {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #df554a;
      top: -1em;
      right: -1em;
      border-radius: 50%;
      color: #080c07;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 15px; }
    #whatido .works__lightboxes .work__lightbox .lightbox__content .before, #whatido .works__lightboxes .work__lightbox .lightbox__content .next {
      position: absolute;
      top: 50%;
      font-size: 50px; }
    #whatido .works__lightboxes .work__lightbox .lightbox__content .before {
      left: -1em; }
    #whatido .works__lightboxes .work__lightbox .lightbox__content .next {
      right: -1em; }
#whatido .works__lightboxes .work__lightbox:target {
  display: flex; }

#about, #whatido, footer {
  background: #080c07; }
  #about h3, #whatido h3, footer h3 {
    color: #f4f4f4; }

#portfolio, #contact {
  background: #f4f4f4; }
  #portfolio h3, #contact h3 {
    color: #080c07; }

#contact .content {
  justify-content: center; }
#contact form table tbody tr {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4vh; }
  #contact form table tbody tr td {
    margin-bottom: 2vh; }
    #contact form table tbody tr td input, #contact form table tbody tr td textarea {
      border: none;
      border-bottom: 1px solid #080c07;
      width: 600px;
      background-color: #f4f4f4; }
    #contact form table tbody tr td textarea {
      margin-top: 20px; }
    #contact form table tbody tr td input[type="submit"] {
      width: 100px;
      height: 40px;
      border-bottom: none;
      border-radius: 25px;
      background-color: #080c07;
      text-transform: uppercase;
      color: #df554a;
      font-size: 20px; }

footer {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #df554a; }
  footer div {
    margin-top: 2px; }

/*# sourceMappingURL=style.css.map */
